/* algemeen */

* {
    margin: 0;
    padding: 0;
}

.korting {
    width: 200px;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    float: right;
    background-color: blue;
    position: fixed;
    right: 0;
    top: 500px;
    border-radius: 30% 0 0 30%;
}

@media screen and (max-width:750px){
    * {
        padding: 5px;
        margin: 5px;
    }
}

/* einde algemeen */

/* header */

header nav .navbar img {
    height: 60px;
}

header nav .navbar {
    display: flex;
    justify-content: space-between;
}

header nav .navbar ul {
    list-style: none;
    display: flex;
}

header nav .navbar ul li {
    padding: 20px;
    font-size: 20px;
}

header nav .navbar ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

@media screen and (max-width:750px){
    header {
        width: 100%;
        height: 60px;
    }

    header nav .navbar ul li {
        padding: 5px;

    }
}

/* einde header */

/* main */

/* mid main */
main .mid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 100px;
}

main .mid .tekst {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    width: 700px;
    padding: 100px;
    padding-right: 300px;
}

main .mid img {
    height: 300px;
    padding-right: 10px;
    border-radius: 20%;
}

@media screen and (max-width:750px){
    main .mid {
        flex-direction: column;
    }

    main .mid .tekst {
        padding-right: 0;
    }
}

/* einde midden main */

/* bottom main */

main .bottom {
    display: flex;
    justify-content: center;
}

main .bottom .gridbottom{
    display: grid;
    grid-template-columns: 500px 500px 500px;
    column-gap: 30px;
    padding-bottom: 20px;
}

main .bottom .gridbottom .imgcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

main .bottom img {
    height: 300px;
    border-radius: 20% 0 20% 0;
    border-bottom: 1px solid green;
}

@media screen and (max-width:750px){
    main .bottom .gridbottom {
        grid-template-rows: 300px 300px 300px;
        grid-template-columns: 500px;
        row-gap: 20px;
    }
}

/* einde bottom main */

/* einde main */

/* footer */

footer {
    height: 40px;
    background-color: gray;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

